ШИФТ конкурс "Займы"

In [29]:
import pandas as pd
import numpy as np
from sklearn import preprocessing
from sklearn.impute import SimpleImputer
import sklearn.metrics as metrics
from sklearn.metrics import roc_curve
from sklearn.metrics import auc
from pandas.api.types import is_numeric_dtype
from catboost import CatBoostClassifier, Pool
import catboost as cb

## Замените путь до .csv файлов

In [30]:
df = pd.read_csv('/home/ivan_pronin/IT/shift/lending/X_train.csv', index_col="index")
df1 = pd.read_csv('/home/ivan_pronin/IT/shift/lending/X_test.csv', index_col="index")
y = pd.read_csv('/home/ivan_pronin/IT/shift/lending/y_train.csv', index_col="index")
y_train=y['loan_status'].to_numpy()

In [31]:
df['fico_mean']=round((df['fico_range_high']+df['fico_range_low'])/2,0)
df['int_rate']=df['int_rate'].str.replace('%', '').astype(float)
df['revol_util']=df['revol_util'].str.replace('%', '').astype(float)
df['year_issue'] = pd.to_datetime(df['issue_d']).dt.year
df['year_earl'] = pd.to_datetime(df['earliest_cr_line']).dt.year

/tmp/ipykernel_18064/3468594534.py:4: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  df['year_issue'] = pd.to_datetime(df['issue_d']).dt.year
/tmp/ipykernel_18064/3468594534.py:5: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  df['year_earl'] = pd.to_datetime(df['earliest_cr_line']).dt.year

In [32]:
df1['fico_mean']=round((df1['fico_range_high']+df1['fico_range_low'])/2,0)
df1['int_rate']=df1['int_rate'].str.replace('%', '').astype(float)
df1['revol_util']=df1['revol_util'].str.replace('%', '').astype(float)
df1['year_issue'] = pd.to_datetime(df1['issue_d']).dt.year
df1['year_earl'] = pd.to_datetime(df1['earliest_cr_line']).dt.year

/tmp/ipykernel_18064/1974380639.py:4: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  df1['year_issue'] = pd.to_datetime(df1['issue_d']).dt.year
/tmp/ipykernel_18064/1974380639.py:5: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  df1['year_earl'] = pd.to_datetime(df1['earliest_cr_line']).dt.year

In [33]:
df.drop(['fico_range_high','fico_range_low','open_acc'], axis=1, inplace=True)

In [34]:
df1.drop(['fico_range_high','fico_range_low','open_acc'], axis=1, inplace=True)

In [35]:
pd.set_option('display.float_format', lambda x: '%0.4f' % x)
pd.set_option('display.max_columns', None)

In [36]:
for col in df.columns:
    print(f'{col} : {df[col].isna().sum()/df.shape[0]*100:.4f}%')

acc_now_delinq : 0.0000%
addr_state : 0.0000%
annual_inc : 0.0000%
chargeoff_within_12_mths : 0.0031%
collections_12_mths_ex_med : 0.0031%
delinq_2yrs : 0.0000%
dti : 0.0000%
earliest_cr_line : 0.0000%
emp_length : 5.9796%
funded_amnt : 0.0000%
home_ownership : 0.0000%
inq_last_12m : 47.2734%
installment : 0.0000%
int_rate : 0.0000%
issue_d : 0.0000%
loan_amnt : 0.0000%
mort_acc : 2.6287%
mths_since_last_delinq : 50.6261%
mths_since_recent_bc_dlq : 76.4419%
mths_since_recent_inq : 12.4832%
num_accts_ever_120_pd : 3.7512%
num_actv_bc_tl : 3.7512%
num_rev_accts : 3.7513%
num_sats : 3.1083%
num_tl_120dpd_2m : 7.5515%
num_tl_30dpd : 3.7512%
num_tl_90g_dpd_24m : 3.7512%
num_tl_op_past_12m : 3.7512%
open_il_24m : 47.2733%
open_rv_24m : 47.2733%
percent_bc_gt_75 : 3.6949%
pub_rec : 0.0000%
pub_rec_bankruptcies : 0.0389%
purpose : 0.0000%
revol_util : 0.0701%
tax_liens : 0.0023%
term : 0.0000%
title : 1.1501%
total_acc : 0.0000%
verification_status : 0.0000%
zip_code : 0.0001%
fico_mean : 0.0000%
year_issue : 0.0000%
year_earl : 0.0000%

In [37]:
for col in df1.columns:
    print(f'{col} : {df[col].isna().sum()/df.shape[0]*100:.4f}%')

acc_now_delinq : 0.0000%
addr_state : 0.0000%
annual_inc : 0.0000%
chargeoff_within_12_mths : 0.0031%
collections_12_mths_ex_med : 0.0031%
delinq_2yrs : 0.0000%
dti : 0.0000%
earliest_cr_line : 0.0000%
emp_length : 5.9796%
funded_amnt : 0.0000%
home_ownership : 0.0000%
inq_last_12m : 47.2734%
installment : 0.0000%
int_rate : 0.0000%
issue_d : 0.0000%
loan_amnt : 0.0000%
mort_acc : 2.6287%
mths_since_last_delinq : 50.6261%
mths_since_recent_bc_dlq : 76.4419%
mths_since_recent_inq : 12.4832%
num_accts_ever_120_pd : 3.7512%
num_actv_bc_tl : 3.7512%
num_rev_accts : 3.7513%
num_sats : 3.1083%
num_tl_120dpd_2m : 7.5515%
num_tl_30dpd : 3.7512%
num_tl_90g_dpd_24m : 3.7512%
num_tl_op_past_12m : 3.7512%
open_il_24m : 47.2733%
open_rv_24m : 47.2733%
percent_bc_gt_75 : 3.6949%
pub_rec : 0.0000%
pub_rec_bankruptcies : 0.0389%
purpose : 0.0000%
revol_util : 0.0701%
tax_liens : 0.0023%
term : 0.0000%
title : 1.1501%
total_acc : 0.0000%
verification_status : 0.0000%
zip_code : 0.0001%
fico_mean : 0.0000%
year_issue : 0.0000%
year_earl : 0.0000%

In [38]:
zero_data_set_sum=df.isnull().sum()
zero_data_set_percentage=df.isnull().sum()/df.shape[0]*100
zero_data_set=pd.DataFrame({'sum':zero_data_set_sum, 'percentage': zero_data_set_percentage})
zero=zero_data_set[zero_data_set['sum']>0].head(40)

In [39]:
imputer = SimpleImputer(strategy='constant', fill_value=-999)
column_to_impute=[]
for i in range(len(zero.index)):
    column_to_impute.append(zero.index[i])

In [40]:
for col in column_to_impute:
    imputed_column = imputer.fit_transform(df[[col]])
    df[[col]] = imputed_column

In [41]:
for col in column_to_impute:
    imputed_column = imputer.fit_transform(df1[[col]])
    df1[[col]] = imputed_column

In [42]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1199861 entries, 0 to 1199860
Data columns (total 44 columns):
 #   Column                      Non-Null Count    Dtype
---  ------                      --------------    -----
 0   acc_now_delinq              1199861 non-null  float64
 1   addr_state                  1199861 non-null  object
 2   annual_inc                  1199861 non-null  float64
 3   chargeoff_within_12_mths    1199861 non-null  float64
 4   collections_12_mths_ex_med  1199861 non-null  float64
 5   delinq_2yrs                 1199861 non-null  float64
 6   dti                         1199861 non-null  float64
 7   earliest_cr_line            1199861 non-null  object
 8   emp_length                  1199861 non-null  object
 9   funded_amnt                 1199861 non-null  float64
 10  home_ownership              1199861 non-null  object
 11  inq_last_12m                1199861 non-null  float64
 12  installment                 1199861 non-null  float64
 13  int_rate                    1199861 non-null  float64
 14  issue_d                     1199861 non-null  object
 15  loan_amnt                   1199861 non-null  float64
 16  mort_acc                    1199861 non-null  float64
 17  mths_since_last_delinq      1199861 non-null  float64
 18  mths_since_recent_bc_dlq    1199861 non-null  float64
 19  mths_since_recent_inq       1199861 non-null  float64
 20  num_accts_ever_120_pd       1199861 non-null  float64
 21  num_actv_bc_tl              1199861 non-null  float64
 22  num_rev_accts               1199861 non-null  float64
 23  num_sats                    1199861 non-null  float64
 24  num_tl_120dpd_2m            1199861 non-null  float64
 25  num_tl_30dpd                1199861 non-null  float64
 26  num_tl_90g_dpd_24m          1199861 non-null  float64
 27  num_tl_op_past_12m          1199861 non-null  float64
 28  open_il_24m                 1199861 non-null  float64
 29  open_rv_24m                 1199861 non-null  float64
 30  percent_bc_gt_75            1199861 non-null  float64
 31  pub_rec                     1199861 non-null  float64
 32  pub_rec_bankruptcies        1199861 non-null  float64
 33  purpose                     1199861 non-null  object
 34  revol_util                  1199861 non-null  float64
 35  tax_liens                   1199861 non-null  float64
 36  term                        1199861 non-null  object
 37  title                       1199861 non-null  object
 38  total_acc                   1199861 non-null  float64
 39  verification_status         1199861 non-null  object
 40  zip_code                    1199861 non-null  object
 41  fico_mean                   1199861 non-null  float64
 42  year_issue                  1199861 non-null  int32
 43  year_earl                   1199861 non-null  int32
dtypes: float64(32), int32(2), object(10)
memory usage: 402.8+ MB

In [43]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
Index: 590977 entries, 0 to 590976
Data columns (total 44 columns):
 #   Column                      Non-Null Count   Dtype
---  ------                      --------------   -----
 0   acc_now_delinq              590977 non-null  float64
 1   addr_state                  590977 non-null  object
 2   annual_inc                  590977 non-null  float64
 3   chargeoff_within_12_mths    590977 non-null  float64
 4   collections_12_mths_ex_med  590977 non-null  float64
 5   delinq_2yrs                 590977 non-null  float64
 6   dti                         590977 non-null  float64
 7   earliest_cr_line            590977 non-null  object
 8   emp_length                  590977 non-null  object
 9   funded_amnt                 590977 non-null  float64
 10  home_ownership              590977 non-null  object
 11  inq_last_12m                590977 non-null  float64
 12  installment                 590977 non-null  float64
 13  int_rate                    590977 non-null  float64
 14  issue_d                     590977 non-null  object
 15  loan_amnt                   590977 non-null  float64
 16  mort_acc                    590977 non-null  float64
 17  mths_since_last_delinq      590977 non-null  float64
 18  mths_since_recent_bc_dlq    590977 non-null  float64
 19  mths_since_recent_inq       590977 non-null  float64
 20  num_accts_ever_120_pd       590977 non-null  float64
 21  num_actv_bc_tl              590977 non-null  float64
 22  num_rev_accts               590977 non-null  float64
 23  num_sats                    590977 non-null  float64
 24  num_tl_120dpd_2m            590977 non-null  float64
 25  num_tl_30dpd                590977 non-null  float64
 26  num_tl_90g_dpd_24m          590977 non-null  float64
 27  num_tl_op_past_12m          590977 non-null  float64
 28  open_il_24m                 590977 non-null  float64
 29  open_rv_24m                 590977 non-null  float64
 30  percent_bc_gt_75            590977 non-null  float64
 31  pub_rec                     590977 non-null  float64
 32  pub_rec_bankruptcies        590977 non-null  float64
 33  purpose                     590977 non-null  object
 34  revol_util                  590977 non-null  float64
 35  tax_liens                   590977 non-null  float64
 36  term                        590977 non-null  object
 37  title                       590977 non-null  object
 38  total_acc                   590977 non-null  float64
 39  verification_status         590977 non-null  object
 40  zip_code                    590977 non-null  object
 41  fico_mean                   590977 non-null  float64
 42  year_issue                  590977 non-null  int32
 43  year_earl                   590977 non-null  int32
dtypes: float64(32), int32(2), object(10)
memory usage: 198.4+ MB

In [44]:
x_train=df
x_test=df1

In [45]:
def get_categorical_indicies(x_train):
    cats = []
    for col in x_train.columns:
        if is_numeric_dtype(x_train[col]):
            pass
        else:
            cats.append(col)
    cat_indicies = []
    for col in cats:
        cat_indicies.append(x_train.columns.get_loc(col))
    return cat_indicies
categorical_indicies = get_categorical_indicies(x_train)

def convert_cats(x_train):
    cats = []
    for col in x_train.columns:
        if is_numeric_dtype(x_train[col]):
            pass
        else:
            cats.append(col)
    cat_indicies = []
    for col in cats:
        x_train[col] = x_train[col].astype('category')
convert_cats(x_train)

In [46]:
def get_categorical_indicies1(x_test):
    cats1 = []
    for col in x_test.columns:
        if is_numeric_dtype(x_test[col]):
            pass
        else:
            cats1.append(col)
    cat_indicies1 = []
    for col in cats1:
        cat_indicies1.append(x_test.columns.get_loc(col))
    return cat_indicies1
categorical_indicies1 = get_categorical_indicies1(x_test)

def convert_cats1(x_test):
    cats1 = []
    for col in x_test.columns:
        if is_numeric_dtype(x_test[col]):
            pass
        else:
            cats1.append(col)
    cat_indicies1 = []
    for col in cats1:
        x_test[col] = x_test[col].astype('category')
convert_cats1(x_test)

In [47]:
print(categorical_indicies)
print(categorical_indicies1)

[1, 7, 8, 10, 14, 33, 36, 37, 39, 40]
[1, 7, 8, 10, 14, 33, 36, 37, 39, 40]

In [48]:
x_train.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1199861 entries, 0 to 1199860
Data columns (total 44 columns):
 #   Column                      Non-Null Count    Dtype
---  ------                      --------------    -----
 0   acc_now_delinq              1199861 non-null  float64
 1   addr_state                  1199861 non-null  category
 2   annual_inc                  1199861 non-null  float64
 3   chargeoff_within_12_mths    1199861 non-null  float64
 4   collections_12_mths_ex_med  1199861 non-null  float64
 5   delinq_2yrs                 1199861 non-null  float64
 6   dti                         1199861 non-null  float64
 7   earliest_cr_line            1199861 non-null  category
 8   emp_length                  1199861 non-null  category
 9   funded_amnt                 1199861 non-null  float64
 10  home_ownership              1199861 non-null  category
 11  inq_last_12m                1199861 non-null  float64
 12  installment                 1199861 non-null  float64
 13  int_rate                    1199861 non-null  float64
 14  issue_d                     1199861 non-null  category
 15  loan_amnt                   1199861 non-null  float64
 16  mort_acc                    1199861 non-null  float64
 17  mths_since_last_delinq      1199861 non-null  float64
 18  mths_since_recent_bc_dlq    1199861 non-null  float64
 19  mths_since_recent_inq       1199861 non-null  float64
 20  num_accts_ever_120_pd       1199861 non-null  float64
 21  num_actv_bc_tl              1199861 non-null  float64
 22  num_rev_accts               1199861 non-null  float64
 23  num_sats                    1199861 non-null  float64
 24  num_tl_120dpd_2m            1199861 non-null  float64
 25  num_tl_30dpd                1199861 non-null  float64
 26  num_tl_90g_dpd_24m          1199861 non-null  float64
 27  num_tl_op_past_12m          1199861 non-null  float64
 28  open_il_24m                 1199861 non-null  float64
 29  open_rv_24m                 1199861 non-null  float64
 30  percent_bc_gt_75            1199861 non-null  float64
 31  pub_rec                     1199861 non-null  float64
 32  pub_rec_bankruptcies        1199861 non-null  float64
 33  purpose                     1199861 non-null  category
 34  revol_util                  1199861 non-null  float64
 35  tax_liens                   1199861 non-null  float64
 36  term                        1199861 non-null  category
 37  title                       1199861 non-null  category
 38  total_acc                   1199861 non-null  float64
 39  verification_status         1199861 non-null  category
 40  zip_code                    1199861 non-null  category
 41  fico_mean                   1199861 non-null  float64
 42  year_issue                  1199861 non-null  int32
 43  year_earl                   1199861 non-null  int32
dtypes: category(10), float64(32), int32(2)
memory usage: 331.0 MB

In [49]:
x_test.info()

<class 'pandas.core.frame.DataFrame'>
Index: 590977 entries, 0 to 590976
Data columns (total 44 columns):
 #   Column                      Non-Null Count   Dtype
---  ------                      --------------   -----
 0   acc_now_delinq              590977 non-null  float64
 1   addr_state                  590977 non-null  category
 2   annual_inc                  590977 non-null  float64
 3   chargeoff_within_12_mths    590977 non-null  float64
 4   collections_12_mths_ex_med  590977 non-null  float64
 5   delinq_2yrs                 590977 non-null  float64
 6   dti                         590977 non-null  float64
 7   earliest_cr_line            590977 non-null  category
 8   emp_length                  590977 non-null  category
 9   funded_amnt                 590977 non-null  float64
 10  home_ownership              590977 non-null  category
 11  inq_last_12m                590977 non-null  float64
 12  installment                 590977 non-null  float64
 13  int_rate                    590977 non-null  float64
 14  issue_d                     590977 non-null  category
 15  loan_amnt                   590977 non-null  float64
 16  mort_acc                    590977 non-null  float64
 17  mths_since_last_delinq      590977 non-null  float64
 18  mths_since_recent_bc_dlq    590977 non-null  float64
 19  mths_since_recent_inq       590977 non-null  float64
 20  num_accts_ever_120_pd       590977 non-null  float64
 21  num_actv_bc_tl              590977 non-null  float64
 22  num_rev_accts               590977 non-null  float64
 23  num_sats                    590977 non-null  float64
 24  num_tl_120dpd_2m            590977 non-null  float64
 25  num_tl_30dpd                590977 non-null  float64
 26  num_tl_90g_dpd_24m          590977 non-null  float64
 27  num_tl_op_past_12m          590977 non-null  float64
 28  open_il_24m                 590977 non-null  float64
 29  open_rv_24m                 590977 non-null  float64
 30  percent_bc_gt_75            590977 non-null  float64
 31  pub_rec                     590977 non-null  float64
 32  pub_rec_bankruptcies        590977 non-null  float64
 33  purpose                     590977 non-null  category
 34  revol_util                  590977 non-null  float64
 35  tax_liens                   590977 non-null  float64
 36  term                        590977 non-null  category
 37  title                       590977 non-null  category
 38  total_acc                   590977 non-null  float64
 39  verification_status         590977 non-null  category
 40  zip_code                    590977 non-null  category
 41  fico_mean                   590977 non-null  float64
 42  year_issue                  590977 non-null  int32
 43  year_earl                   590977 non-null  int32
dtypes: category(10), float64(32), int32(2)
memory usage: 161.9 MB

In [50]:
for col,name in enumerate(x_train):
    if col in categorical_indicies:
        pass
    else:
        x_train[name] = x_train[name].astype(str)

In [51]:
for col,name in enumerate(x_test):
    if col in categorical_indicies1:
        pass
    else:
        x_test[name] = x_test[name].astype(str)

In [52]:
x_train.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1199861 entries, 0 to 1199860
Data columns (total 44 columns):
 #   Column                      Non-Null Count    Dtype
---  ------                      --------------    -----
 0   acc_now_delinq              1199861 non-null  object
 1   addr_state                  1199861 non-null  category
 2   annual_inc                  1199861 non-null  object
 3   chargeoff_within_12_mths    1199861 non-null  object
 4   collections_12_mths_ex_med  1199861 non-null  object
 5   delinq_2yrs                 1199861 non-null  object
 6   dti                         1199861 non-null  object
 7   earliest_cr_line            1199861 non-null  category
 8   emp_length                  1199861 non-null  category
 9   funded_amnt                 1199861 non-null  object
 10  home_ownership              1199861 non-null  category
 11  inq_last_12m                1199861 non-null  object
 12  installment                 1199861 non-null  object
 13  int_rate                    1199861 non-null  object
 14  issue_d                     1199861 non-null  category
 15  loan_amnt                   1199861 non-null  object
 16  mort_acc                    1199861 non-null  object
 17  mths_since_last_delinq      1199861 non-null  object
 18  mths_since_recent_bc_dlq    1199861 non-null  object
 19  mths_since_recent_inq       1199861 non-null  object
 20  num_accts_ever_120_pd       1199861 non-null  object
 21  num_actv_bc_tl              1199861 non-null  object
 22  num_rev_accts               1199861 non-null  object
 23  num_sats                    1199861 non-null  object
 24  num_tl_120dpd_2m            1199861 non-null  object
 25  num_tl_30dpd                1199861 non-null  object
 26  num_tl_90g_dpd_24m          1199861 non-null  object
 27  num_tl_op_past_12m          1199861 non-null  object
 28  open_il_24m                 1199861 non-null  object
 29  open_rv_24m                 1199861 non-null  object
 30  percent_bc_gt_75            1199861 non-null  object
 31  pub_rec                     1199861 non-null  object
 32  pub_rec_bankruptcies        1199861 non-null  object
 33  purpose                     1199861 non-null  category
 34  revol_util                  1199861 non-null  object
 35  tax_liens                   1199861 non-null  object
 36  term                        1199861 non-null  category
 37  title                       1199861 non-null  category
 38  total_acc                   1199861 non-null  object
 39  verification_status         1199861 non-null  category
 40  zip_code                    1199861 non-null  category
 41  fico_mean                   1199861 non-null  object
 42  year_issue                  1199861 non-null  object
 43  year_earl                   1199861 non-null  object
dtypes: category(10), object(34)
memory usage: 340.1+ MB

In [53]:
x_test.info()

<class 'pandas.core.frame.DataFrame'>
Index: 590977 entries, 0 to 590976
Data columns (total 44 columns):
 #   Column                      Non-Null Count   Dtype
---  ------                      --------------   -----
 0   acc_now_delinq              590977 non-null  object
 1   addr_state                  590977 non-null  category
 2   annual_inc                  590977 non-null  object
 3   chargeoff_within_12_mths    590977 non-null  object
 4   collections_12_mths_ex_med  590977 non-null  object
 5   delinq_2yrs                 590977 non-null  object
 6   dti                         590977 non-null  object
 7   earliest_cr_line            590977 non-null  category
 8   emp_length                  590977 non-null  category
 9   funded_amnt                 590977 non-null  object
 10  home_ownership              590977 non-null  category
 11  inq_last_12m                590977 non-null  object
 12  installment                 590977 non-null  object
 13  int_rate                    590977 non-null  object
 14  issue_d                     590977 non-null  category
 15  loan_amnt                   590977 non-null  object
 16  mort_acc                    590977 non-null  object
 17  mths_since_last_delinq      590977 non-null  object
 18  mths_since_recent_bc_dlq    590977 non-null  object
 19  mths_since_recent_inq       590977 non-null  object
 20  num_accts_ever_120_pd       590977 non-null  object
 21  num_actv_bc_tl              590977 non-null  object
 22  num_rev_accts               590977 non-null  object
 23  num_sats                    590977 non-null  object
 24  num_tl_120dpd_2m            590977 non-null  object
 25  num_tl_30dpd                590977 non-null  object
 26  num_tl_90g_dpd_24m          590977 non-null  object
 27  num_tl_op_past_12m          590977 non-null  object
 28  open_il_24m                 590977 non-null  object
 29  open_rv_24m                 590977 non-null  object
 30  percent_bc_gt_75            590977 non-null  object
 31  pub_rec                     590977 non-null  object
 32  pub_rec_bankruptcies        590977 non-null  object
 33  purpose                     590977 non-null  category
 34  revol_util                  590977 non-null  object
 35  tax_liens                   590977 non-null  object
 36  term                        590977 non-null  category
 37  title                       590977 non-null  category
 38  total_acc                   590977 non-null  object
 39  verification_status         590977 non-null  category
 40  zip_code                    590977 non-null  category
 41  fico_mean                   590977 non-null  object
 42  year_issue                  590977 non-null  object
 43  year_earl                   590977 non-null  object
dtypes: category(10), object(34)
memory usage: 166.5+ MB

In [54]:
train_dataset = cb.Pool(x_train,y_train,
                        cat_features=categorical_indicies)

In [55]:
print(x_train.shape)
print(x_test.shape)
print(y_train.shape)

(1199861, 44)
(590977, 44)
(1199861,)

In [56]:
CAT=cb.CatBoostClassifier(metric_period=100,
                          task_type='GPU',
                          iterations=3700, 
                          learning_rate=0.02,
                          depth=10,
                         )
CAT.fit(train_dataset)

0:	learn: 0.6817796	total: 121ms	remaining: 7m 28s
100:	learn: 0.4464523	total: 12.5s	remaining: 7m 26s
200:	learn: 0.4386106	total: 25.1s	remaining: 7m 17s
300:	learn: 0.4359438	total: 37.9s	remaining: 7m 7s
400:	learn: 0.4339494	total: 49.9s	remaining: 6m 50s
500:	learn: 0.4324095	total: 1m 1s	remaining: 6m 35s
600:	learn: 0.4308707	total: 1m 14s	remaining: 6m 23s
700:	learn: 0.4294309	total: 1m 27s	remaining: 6m 12s
800:	learn: 0.4279456	total: 1m 39s	remaining: 6m 1s
900:	learn: 0.4266122	total: 1m 52s	remaining: 5m 50s
1000:	learn: 0.4253917	total: 2m 5s	remaining: 5m 39s
1100:	learn: 0.4242096	total: 2m 18s	remaining: 5m 27s
1200:	learn: 0.4229946	total: 2m 31s	remaining: 5m 14s
1300:	learn: 0.4218814	total: 2m 43s	remaining: 5m 1s
1400:	learn: 0.4208279	total: 2m 56s	remaining: 4m 49s
1500:	learn: 0.4197933	total: 3m 9s	remaining: 4m 37s
1600:	learn: 0.4187823	total: 3m 21s	remaining: 4m 24s
1700:	learn: 0.4178021	total: 3m 34s	remaining: 4m 12s
1800:	learn: 0.4167994	total: 3m 47s	remaining: 3m 59s
1900:	learn: 0.4157901	total: 4m	remaining: 3m 47s
2000:	learn: 0.4147313	total: 4m 13s	remaining: 3m 35s
2100:	learn: 0.4137521	total: 4m 26s	remaining: 3m 22s
2200:	learn: 0.4127909	total: 4m 39s	remaining: 3m 10s
2300:	learn: 0.4118237	total: 4m 52s	remaining: 2m 57s
2400:	learn: 0.4108870	total: 5m 4s	remaining: 2m 44s
2500:	learn: 0.4099562	total: 5m 17s	remaining: 2m 32s
2600:	learn: 0.4089932	total: 5m 30s	remaining: 2m 19s
2700:	learn: 0.4081462	total: 5m 43s	remaining: 2m 6s
2800:	learn: 0.4072005	total: 5m 56s	remaining: 1m 54s
2900:	learn: 0.4062264	total: 6m 9s	remaining: 1m 41s
3000:	learn: 0.4052504	total: 6m 22s	remaining: 1m 29s
3100:	learn: 0.4043471	total: 6m 35s	remaining: 1m 16s
3200:	learn: 0.4034796	total: 6m 48s	remaining: 1m 3s
3300:	learn: 0.4025349	total: 7m 1s	remaining: 50.9s
3400:	learn: 0.4016188	total: 7m 14s	remaining: 38.2s
3500:	learn: 0.4007505	total: 7m 26s	remaining: 25.4s
3600:	learn: 0.3998230	total: 7m 39s	remaining: 12.6s
3699:	learn: 0.3989617	total: 7m 52s	remaining: 0us

In [57]:
predictions = CAT.predict(x_test)
predictions

array([1, 0, 0, ..., 0, 0, 0])

In [58]:
predict_proba= CAT.predict_proba(x_test)
predict_proba

array([[0.42930349, 0.57069651],
       [0.71623526, 0.28376474],
       [0.85246541, 0.14753459],
       ...,
       [0.78531922, 0.21468078],
       [0.95224266, 0.04775734],
       [0.83137116, 0.16862884]])

In [59]:
answer=pd.DataFrame(predict_proba[:,1], columns=["loan_status"], dtype=None, copy=False)
answer.index.rename('index', inplace= True )
answer

        loan_status
index
0            0.5707
1            0.2838
2            0.1475
3            0.0514
4            0.0740
...             ...
590972       0.1066
590973       0.2371
590974       0.2147
590975       0.0478
590976       0.1686

[590977 rows x 1 columns]